@import url(https://db.onlinewebfonts.com/c/2aea0ac500c896188f9ad191c231029c?family=Orpheus+Pro); /* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-gray: #dfe0e1;

  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: rgb(39, 27, 27);
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-gray);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-gray);

  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    /*--color-background: var(--vt-c-black);*/

    /*--color-border: var(--vt-c-divider-dark-2);*/
    /*--color-border-hover: var(--vt-c-divider-dark-1);*/

    /*--color-heading: var(--vt-c-text-dark-1);*/
    /*--color-text: var(--vt-c-text-dark-2);*/
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

@font-face {
  font-family: 'Ceremonius';
  src: url('./ceremonioustwo.ttf');
}

@font-face {
  font-family: 'Phenomena';
  src: url('./phenomena/Phenomena-Light.otf');
}

body {
  min-height: 100vh;
  color: var(--color-text);

  background-color: var(--color-background); /* Сірий фон */
  /*background-image: url('./main_bg.jpg'); !* Шлях до вашої картинки *!*/
  /*background-size: cover; !* Масштабування картинки по всій області *!*/
  /*background-repeat: no-repeat; !* Відсутність повторення картинки *!*/
  /*background-position: center; !* Вирівнювання картинки по центру *!*/

  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  /*font-family:*/
  /*  Inter,*/
  /*  -apple-system,*/
  /*  BlinkMacSystemFont,*/
  /*  'Segoe UI',*/
  /*  Roboto,*/
  /*  Oxygen,*/
  /*  Ubuntu,*/
  /*  Cantarell,*/
  /*  'Fira Sans',*/
  /*  'Droid Sans',*/
  /*  'Helvetica Neue',*/
  /*  sans-serif;*/

  font-family: 'Phenomena', serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}
